/*--------------------
      VARIABLES
---------------------*/ 

:root {

  /* color  */
  --color-sidebar: #000000;
  --color-player: #141922;
  --color-bottombar: #282828;
  --color-darkgrey: #999;
  --color-lightgrey: #d2d2d2; 
  --color-active: #adff2f;


  /* width */
  --sidebar-width: 230px;
  --player-width: calc(100% - var(--sidebar-width));


  /* card size */
  --card-gap: 15px;
  --card-width-lg: calc((100% - 5*var(--card-gap)) * 1/6);
  --card-width-md: calc((100% - 3*var(--card-gap)) * 1/4);
  --card-width-sm: calc((100% - 1*var(--card-gap)) * 1/2);

  
  /* sidebar size */ 
  --logo-height: 90px;
  --menu-height: 105px;
  --playlist-height: calc(100% - var(--logo-height) - var(--menu-height) - var(--bottom-height));
  --bottom-height: 90px;

  /* control bars  */
  --time-control: 30%;
  --volume-control: 70%;

}

#calcolatrice {
  width: auto;
}


/* hoover | active  */


a:hover {
  color: white;
}

#sidebar a:hover svg {
  opacity: 1;
}






/* ---------------
    GENERAL
----------------*/

/* reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tag container  */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-darkgrey);
}

main {
  height: calc(100vh - 90px);
  overflow: hidden;
}

footer {
  height: 90px;
  padding: 0 10px;
  background-color: var(--color-bottombar);
}

/* tag element  */

h2, 
h3 {
  color: white;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-darkgrey);
}

a.btn {
  display: inline-block;
  color: white;
}

ul {
  list-style: none;
}



/* ---------------
    SIDEBAR
----------------*/    

#sidebar {
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--color-sidebar);
}

/* general */

#sidebar svg {
  height: 25px;
  opacity: 0.5;
}

/* logo */

#sidebar .logo {
  height: var(--logo-height);
  padding: 20px;
}

#sidebar .logo img {
  width: 70%;
}

#sidebar .logo img:last-child {
  display: none;
}

/* menu */

#sidebar .menu {
  height: var(--menu-height);
}

#sidebar .menu li {
  border-left: 3px solid var(--color-sidebar);
  padding: 5px 17px;
}

/* playlist */

#sidebar .playlist {
  height: var(--playlist-height);
  padding: 20px;
  overflow-x: auto;
}

#sidebar .playlist i {
  font-size: 40px;
}

/* bottom */

#sidebar .bottom {
  height: var(--bottom-height);
  padding: 0 20px ;
}

#sidebar .bottom .app {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-darkgrey);
}

#sidebar .bottom .account {
  color: white;
}

#sidebar .bottom .app svg {
  height: 20px;
}

#sidebar .bottom .account svg {
  border-radius: 100%;
  opacity: 1;
  background-color: var(--color-darkgrey);
}



/* -------------------
    PLAYER 
---------------------*/

#player {
  width: var(--player-width);
  padding: 110px 20px 50px;
  gap: 50px;
  background-color: var(--color-player);
  overflow-x: auto;
}

/* general  */

#player .played,
#player .dailymix,
#player .popular {
  gap: 25px;
}

#player .cards { 
  flex-wrap: wrap;
  gap: var(--card-gap);
}

#player .card {
  width: var(--card-width-lg);
  padding-bottom: 20px;
  gap: 10px;
}


/* topbar  */

#player .topbar {
  position: fixed;
  width: var(--player-width);
  height: 90px;
  margin: -110px -20px;
  padding: 10px 20px;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

#player .topbar a {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 40px;
}


/* menu */


#player .menu ul {
  flex-wrap: wrap;
  gap: 20px;
}  

#player .menu a {
  color: var(--color-darkgrey);
}  

#player .menu .active::after {
  content: "";
  width: 50%;
  height: 2px;
  margin: 2px auto;
  background-color: var(--color-active);
}


/* ---------------
    BOTTOMBAR
----------------*/  

#bottombar {
  height: 100%;
}

/* general  */

#bottombar h2 {
  font-size: 1rem;
}

#bottombar h3 {
  font-size: 1rem;
}

#bottombar .playbox .down,
#bottombar .volume .right {
  height: 5px;
  border-radius: 5px;
  background-color: #797c80;
}

/* listening  */

#bottombar .listening {
  gap: 30px;
}

#bottombar .listening .left .image {
  width: 60px;
}

#bottombar .listening .right {
  font-size: 16px;
}

/* playbox  */

#bottombar .playbox {
  gap: 20px;
  font-size: 20px;
  color: white;
}

#bottombar .playbox .up {
  width: 200px;
}

#bottombar .playbox .down {
  width: 400px;
}

#bottombar .playbox .down i {
  /* display: none; */
  padding-left: var(--time-control);
  background-color: red; 
  border: 2px solid red;
  border-radius: 2px;
}


/* volume */

#bottombar .volume {
  font-size: 16px;
  color: white;
}

#bottombar .volume .right {
  width: 100px;
}

#bottombar .volume .right i {
  padding-left: var(--volume-control); 
  background-color: red; 
  border: 2px solid red;
}
