/*--------------------
      VARIABLES
---------------------*/ 

:root {

  /* color  */
  --color-sidebar: #000000;
  --color-player: #141922;
  --color-bottombar: #282828;
  --color-darkgrey: #999;
  --color-lightgrey: #d2d2d2; 
  --color-active: #adff2f;


  /* width */
  --sidebar-width: 230px;
  --player-width: calc(100% - var(--sidebar-width));


  /* card size */
  --card-gap: 15px;
  --card-width-lg: calc((100% - 5*var(--card-gap)) * 1/6);
  --card-width-md: calc((100% - 3*var(--card-gap)) * 1/4);
  --card-width-sm: calc((100% - 1*var(--card-gap)) * 1/2);

  
  /* sidebar size */ 
  --logo-height: 90px;
  --menu-height: 105px;
  --playlist-height: calc(100% - var(--logo-height) - var(--menu-height) - var(--bottom-height));
  --bottom-height: 90px;

  /* control bars  */
  --time-control: 30%;
  --volume-control: 70%;

  /*  */
  --width-slider: 200px;
  --height-slider: 5px;
  --height-pointer: 20px;
  --width-bar: 40%;
  --time-current: calc(var(--time-total) * var(--width-bar));
  --time-total: 80;

}

#calcolatrice {
  width: auto;
}


/* hoover | active  */


a:not(#bottombar .listening a):hover {
  color: white;
}

#sidebar a:hover svg {
  opacity: 1;
}

#player .card:hover .image .image-play {
  display: flex;
}

#player .topbar a:hover {
  scale: 1.1;
}

#bottombar .listening a:hover {
  text-decoration: underline;
}

#bottombar .slider:hover {
  cursor: pointer;
}

#bottombar .slider-box:hover .bar {
  background-color: var(--color-active);
}

#bottombar .slider-box:hover .bar .pointer {
  display: flex;
  color: white;
}





/* ---------------
    GENERAL
----------------*/

/* reset  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tag container  */

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-darkgrey);
}

main {
  height: calc(100vh - 90px);
  overflow: hidden;
}

footer {
  height: 90px;
  padding: 0 10px;
  background-color: var(--color-bottombar);
}

/* tag element  */

h2, 
h3 {
  color: white;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-darkgrey);
}

a.btn {
  display: inline-block;
  color: white;
}

ul {
  list-style: none;
}



/* ---------------
    SIDEBAR
----------------*/    

#sidebar {
  position: relative;
  width: var(--sidebar-width);
  background-color: var(--color-sidebar);
}

/* general */

#sidebar svg {
  height: 25px;
  opacity: 0.5;
}

/* logo */

#sidebar .logo {
  height: var(--logo-height);
  padding: 20px;
}

#sidebar .logo img {
  width: 70%;
}

#sidebar .logo img:last-child {
  display: none;
}

/* menu */

#sidebar .menu {
  height: var(--menu-height);
}

#sidebar .menu li {
  border-left: 3px solid var(--color-sidebar);
  padding: 5px 17px;
}

/* playlist */

#sidebar .playlist {
  height: var(--playlist-height);
  padding: 20px;
  overflow-x: auto;
}

#sidebar .playlist .new {
  position: relative;
}

#sidebar .playlist .new i {
  font-size: 40px;
}

#sidebar .playlist .new span {
  display: none;
}

#sidebar .playlist .new:hover span {
  display: inline;
  position: absolute;
  padding: 6px;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  background-color: #282828;
  top: -30px;
  left: -20px;
  font-weight: 500;
}

/* bottom */

#sidebar .bottom {
  height: var(--bottom-height);
  padding: 0 20px ;
}

#sidebar .bottom .app {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-darkgrey);
}

#sidebar .bottom .account {
  color: white;
}

#sidebar .bottom .app svg {
  height: 20px;
}

#sidebar .bottom .account svg {
  border-radius: 100%;
  opacity: 1;
  background-color: var(--color-darkgrey);
}



/* -------------------
    PLAYER 
---------------------*/

#player {
  width: var(--player-width);
  padding: 110px 20px 50px;
  gap: 50px;
  background-color: var(--color-player);
  overflow-x: auto;
}

/* general  */

#player .played,
#player .dailymix,
#player .popular {
  gap: 25px;
}

#player .cards { 
  flex-wrap: wrap;
  gap: var(--card-gap);
}

#player .card {
  width: var(--card-width-lg);
  padding-bottom: 20px;
}

#player .card .image {
  position: relative;
}

#player .card .image .image-play {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#player .card .image .image-play i {
  font-size: 50px;
  color: white;
}

/* topbar  */

#player .topbar {
  position: fixed;
  z-index: 99;
  width: var(--player-width);
  height: 90px;
  margin: -110px -20px;
  padding: 10px 30px;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
}

#player .topbar a {
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 40px;
}


/* menu */

#player .menu ul {
  flex-wrap: wrap;
  gap: 20px;
}  

#player .menu .active::after {
  content: '';
  width: 50%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--color-player);
}


/* ---------------
    BOTTOMBAR
----------------*/  

#bottombar {
  height: 100%;
}

/* general  */

#bottombar h3 {
  font-size: 14px;
}

#bottombar h4 {
  font-size: 12px;
}

#bottombar i {
  font-size: 18px;
}

#bottombar i:hover {
  color: white;
}

/* listening  */

#bottombar .listening {
  gap: 30px;
}

#bottombar .listening .song .cover {
  width: 50px;
}

#bottombar .listening .song .cover:hover {
  opacity: 0.5;
}

#bottombar .listening .actions {
  font-size: 16px;
}

/* playbox */

#bottombar .playbox {
  max-width: 800px;
  width: 40%;
}

#bottombar .playbox .controller i.fa-circle-play {
  font-size: 30px;
}

#bottombar .playbox .controller i.fa-circle-play:hover {
  color: white;
  scale: 1.1;
}

#bottombar .playbox .slider-box .time-current,
#bottombar .playbox .slider-box .time-total {
  color:  white;
}

#bottombar .playbox .slider-box .slider {
  width: 100%;
}


/* volume  */

#bottombar .volume .slider {
  width: 150px;
}


/* slider bar and pointer */

#bottombar .slider-box {
  width: 100%;
}

#bottombar .slider {
  height: var(--height-slider);
  border-radius: var(--height-slider);
  background-color: var(--color-darkgrey);
}

#bottombar .slider .bar {
  width: var(--width-bar);
  height: var(--height-slider);
  border-radius: var(--height-slider);
  background-color: var(--color-lightgrey);
  position: relative;
}

#bottombar .slider .bar .pointer {
  position: absolute;
  right: calc(var(--height-pointer) * -1/2);
  font-size: var(--height-pointer);
  display: none;
}
