/*--------------------
      UTILITIES
---------------------*/ 

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
} 

.center {
  justify-content: center;
  align-items: center;
}

.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.db {
  /* background-color: lightcoral; */
  border: 1px solid black;
}

.db-small {
  /* background-color: lightblue; */
  border: 1px solid black;
}



#sidebar .home.active {
  border-color: #adff2f;
  color: white;
}

#sidebar .home.active svg * {
  fill: white;
}

#player .menu .active:first-child span {
  width: 50px;
  height: 2px;
  margin: 2px auto;
  background-color: #adff2f;
}