/*--------------------
      VARIABLES
---------------------*/ 

:root {

  /* color  */
  --color-darkblue: #0084fd;


  /* size  */


}

/*--------------------
      UTILITIES
---------------------*/ 

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
} 

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.db {
  background-color: lightcoral;
  border: 1px solid black;
}
