/*--------------------
      UTILITIES
---------------------*/ 

.container-small {
  padding: 0 20px;
}


.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
} 

.center {
  justify-content: center;
  align-items: center;
}

.gap-10 {
  gap: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}

.db {
  background-color: lightcoral;
  border: 1px solid black;
}

.db-small {
  background-color: lightblue;
  border: 1px solid black;
}
